@import './common.scss';

.about-me-section{
    padding: 70px 0;

    .author-img{
        img{
            width: 100%;
        }
    }

    .about-info{
        margin-top: 70px;
        h4{
            float: left;
            font-weight: 700;
        }
        .about-social-Links{
            li{
                a{
                    padding: 0;
                    margin: 0 8px;
                    font-size: 30px;
                    color: $secondary-color;
                    transition: all .3s ease-in-out;

                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px){
    .about-info{
        margin-top: 0 !important;
    }
}
@media only screen and (max-width: 767px){
    .about-info{
        margin-top: 20px !important;
    }
}