@import './common.scss';

.about-me-section{
    padding: 70px 0;

    .about-info{
        h4{
            float: left;
            font-weight: 700;
        }
        .about-social-Links{
            li{
                a{
                    padding: 0;
                    margin: 0 8px;
                    font-size: 30px;
                }
            }
        }
    }
}