@import './common.scss';

.educationSection{
    padding: 80px 0;
    background-color: $while-color;

    .accordingWrapper{
        &__card{
            margin-bottom: 15px;
            border-radius: 0;
            border-color: $secondary-color;
            border-bottom: 1px solid $secondary-color !important;
            margin-left: 1px;
            margin-top: 1px;

            &--header{
                background-color: $secondary-color;
                color: $while-color;
                border-radius: 0 !important;
                border: 0;
                transition: all .3s ease-in-out;

                &:hover{
                    background-color: $primary-color;
                    border-color: $primary-color;
                }
            }
            &--body{
                transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);

                &--institutionName{
                    display: inline-block;

                    h2{
                        font-size: 22px;
                        font-weight: 700;

                        span{
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }
                }

                &--courseDate{
                    float: right;

                    p{
                        font-size: 14px;
                    }
                }

                &--trainerInfo{
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
