@import './common.scss';
.header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    border-bottom: 1px solid rgba(160,160,160,.15);
    padding: 0;

    .navbar{
        padding: 0;

        .hader-navbar{
            .nav-link{
                color: $while-color !important;
                padding: 20px 15px !important;
                margin: 0 4px;
                border-bottom: 2px solid transparent;
                transition: all .3s ease-in-out;
                text-transform: capitalize;
                cursor: pointer;
    
                &:hover{
                    color: $primary-color !important;
                    border-color: $primary-color;
                }
            }
            .hireMeBtn{
                font-family: 'PT Sans', sans-serif;
                color: $while-color !important;
                box-shadow: 0px 4px 5px 0px rgba(34,34,34,.2);
                font-size: 15px;
                letter-spacing: 1.1px;
                text-transform: capitalize;
                height: 40px;
                width: 130px;
                text-align: center;
                line-height: 2px;
                font-weight: 400;
                margin-top: 15px;
                border: 0;
                // transform: translateX(0);

                &:hover{
                    background-color: $while-color;
                    color: $secondary-color !important;
                }
            }
        }
    }
}