@import './common.scss';

.pageSectionTitleWrapper{
    margin-bottom: 60px;

    &__title{
        font-weight: 700;
        color: #212529;
        text-transform: capitalize;
        display: inline-block;
        text-transform: capitalize;
        background-image: linear-gradient(-100deg, #02d76638, rgba(2, 215, 102, 0.38) 100%, rgba(2, 215, 102, 0.24));
        border-radius: 1em;
        padding: 2px 20px;
    }

    &__info{
        b{
            text-transform: capitalize;
            color: #212529;
            font-weight: 700;
        }
    }
}