@import './common.scss';

.portfolioSection{
    padding: 80px 0;

    .portfolioWrapper{
        position: relative;
        overflow: hidden;
        display: block;
        margin-bottom: 30px;
        box-shadow: hsl(0, 0%, 80%) 0 0 16px;
        
        &__img{
            
            img{
                transform: translateX(0%);
                -ms-transform: translateX(0%);
                -webkit-transform: translateX(0%);
                width: 100%;
                min-height: 348px;
                transition: all 0.5s ease-in-out 0s;
                -moz-transition: all 0.5s ease-in-out 0s;
                -webkit-transition: all 0.5s ease-in-out 0s;
                -o-transition: all 0.5s ease-in-out 0s;
            }
        }

        &__body{
            background: none repeat scroll 0 0 $secondary-color;
            position: absolute;
            transition: all 0.5s ease-in-out 0s;
            -moz-transition: all 0.5s ease-in-out 0s;
            -webkit-transition: all 0.5s ease-in-out 0s;
            -o-transition: all 0.5s ease-in-out 0s;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            visibility: hidden;
            overflow: hidden;
            transform: translateX(-100%);


            &--info{
                padding-top: 105px;
                h3{
                    color: #fff;
                    font-size: 20px;
                }
                p{
                    color: $while-color;
                    margin-bottom: 0;
                }

                &--btns{
                    a{
                        font-family: 'PT Sans', sans-serif;
                        display: inline-block;
                        background-color: $primary-color;
                        color: #fff;
                        padding: 7px 30px;
                        text-transform: capitalize;
                        margin: 20px 8px;
                        border-radius: 5px;
                        transition: all .3s ease-in-out;
                        transform: translateX(0);

                        &:hover{
                            transform: translateY(-5px);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.portfolioWrapper:hover .portfolioWrapper__body{
    transform: translateX(0%);
    visibility: visible;
}

.portfolioWrapper:hover .portfolioWrapper__img img{
    transform: translateX(100%);
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
}
.morePortfolioBtn{
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    background-color: $primary-color;
    color: #fff;
    padding: 7px 30px;
    border: 0;
    text-transform: capitalize;
    border-radius: 5px;
    transition: all .3s ease-in-out;

    &:hover{
        background-color: $secondary-color;
    }

    &:focus{
        box-shadow: none;
    }
}