@import './common.scss';
.slider-section{
    background-color: $secondary-color;
    color: $while-color;
    position: relative;

    .hero-section{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .hero-content {
            text-align: center;
            position: relative;

            .hero-intro-greeting {
                position: absolute;
                left: 0;
                top: -40px;
                color: #fff;
                font-size: 18px;
                text-transform: capitalize;
                display: inline-block;
                border: 2px solid #fff;
                border-radius: 5px;
                padding: 6px 15px;
            }
            h1 {
                color: #fff;
                text-transform: capitalize;
                font-size: 70px;
            }
            h4 {
                color: #fff;
                font-weight: 500;

                span {
                    font-style: italic;
                    font-size: 18px;
                }
            }
            a {
                display: inline-block;
                background-color: $primary-color;
                color: $while-color;
                padding: 7px 30px;
                text-transform: capitalize;
                margin: 20px 8px;
                border-radius: 5px;
                transition: all .3s ease-in-out;
                transform: translateX(0);

                &:hover{
                    transform: translateY(-5px)
                }
            }
            .resumeBtn{
                background-color: $while-color;
                color: $gray-color;
            }
        }
    }
}